<div class="container py-5 text-center">
  <h1>Welcome back {{name}}</h1>
  <form method="POST" action="/signout">
    <button type="submit" class="my-5 btn btn-outline-secondary">登出</button>
  </form>
</div>